<form name="form" novalidate [formGroup]="movimiento" (ngSubmit)="enviar()">
    <div class="contenedor columns " style="height:100%; padding:1em;">

        <div class="column is-one-third">
            <!-- Columna de 1/3 de pantalla -->
            <div style="background: #FFF; border-radius: 1em; overflow: hidden;">
                <section class="hero is-primary">
                    <h1 class="title" style="margin:0.5em; "><span class="icon is-medium"><i class="fa fa-file-text"></i></span> Nuevo</h1>
                </section>
                <div style="padding: 1em;">
                    <salidas-form-datos [movimiento]="movimiento"></salidas-form-datos>
                    <div class="control is-grouped">
                    </div>

                    <div class="control is-grouped">
                        <!--
                        <div class="control">

                            <select name="status" formControlName="status" class="select">
                                <option *ngFor="let item of listaStatus" value="{{item.id}}" [attr.selected]="movimiento.get('status').value == item.id ? true:false">{{ item.nombre }}</option>
                            </select>
                            <span class="help is-danger" *ngIf="movimiento.get('status').hasError('required') && movimiento.get('status').touched">Debe elegir un status.</span>

                        </div>
                        -->
                        <p class="control">
                            <a class="button is-primary " type="submit" (click)="enviar()" [ngClass]="{'is-loading': cargando}">Finalizar</a>
                        </p>
                        <p class="control">
                            <a class="button is-white" routerLink="/almacen/movimientos/salidas/">Ir a la lista</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Fin columna de 1/3 de pantalla -->

        <div class="column">
            <!-- Columna 2/3 -->
            <div style="background: #FFF; border-radius: 1em; overflow: hidden;">
                <section class="hero is-primary">
                    <h1 class="title" style="margin:0.5em; "><span class="icon is-medium"><i class="fa fa-file-text"></i></span> Insumos</h1>
                </section>

                <div style="padding: 1em;">
                    <salidas-form-insumos [insumosAgregados]="insumosAgregadosEntrada"></salidas-form-insumos>

                </div>
            </div>
        </div>
        <!-- Fin columna 2/3 -->

    </div>
</form>