<aside class="menu" style="padding: 1em;">
    <p class="menu-label">
        Usuarios y privilegios
    </p>
    <ul class="menu-list">
        <li><a routerLink="/panel-control/usuarios" routerLinkActive="is-active"><span class="icon"  ><i class="fa fa-user"></i></span> Usuarios</a></li>
        <li><a routerLink="/panel-control/roles" routerLinkActive="is-active"><span class="icon"><i class="fa fa-users"></i></span> Roles</a></li>
        <li><a routerLink="/panel-control/permisos" routerLinkActive="is-active"><span class="icon"><i class="fa fa-shield"></i></span> Permisos</a></li>
    </ul>
    <p class="menu-label">
        Sincronización con servidor principal
    </p>
    <ul class="menu-list">
        <li><a routerLink="/panel-control/sync/estatus" routerLinkActive="is-active"><span class="icon"><i class="fa fa-server"></i></span> Estatus de sincronización</a></li>
        <li><a routerLink="/panel-control/sync/manual" routerLinkActive="is-active"><span class="icon"  ><i class="fa fa-cloud-upload"></i></span> Sincronización manual</a></li>
        
    </ul>
    
        
</aside>