<menu-farmacia></menu-farmacia>

<div style="height:50px;"></div>
<div class="contenedor columns " style="height:100%; padding:1em;">
    <div class="column is-one-third" >
      <div style="background: #FFF; border-radius: 1em; overflow: hidden;">
            <section class="hero is-primary" >
              <h1 class="title" style="margin:0.5em; " ><span class="icon is-medium"><i class="fa fa-file-text"></i></span> Nuevo pedido</h1>
              
            </section>
            
            <div style="padding: 1em;">
              <label class="label">Solicitar a:</label>
              <p class="control">
                <span class="select is-fullwidth">
                  <select>
                    <option>Farmacia Exfarma</option>
                    <option>Almacén general</option>
                  </select>
                </span>
              </p>
              
              <div class="control">
                <textarea class="textarea" placeholder="Observaciones"></textarea>
              </div>
              <div class="control is-grouped">
                <p class="control">
                  <button class="button is-primary" type="submit" [ngClass]="{'is-loading': cargando}" >Guardar</button>
                </p>
                <p class="control">
                  <a class="button is-white" routerLink="/farmacia/pedidos/" >Ir a la lista</a>
                </p>
              </div>
            </div>
        </div>
        <br>
        
    </div>
    <div class="column" >
        <div style="background: #FFF; border-radius: 1em; overflow: hidden;">
          <div class="top-bar" [ngClass]="{'is-primary':!filtroActivado,'is-dark': filtroActivado}">
            <span *ngIf="!filtroActivado">Claves: {{ total }} Insumos: 0</span>
            <span *ngIf="filtroActivado">Resultados: {{ totalFiltro }}</span>
            <a class="button is-primary is-inverted is-pulled-right" title="Ctrl + espacio" (click)="toggleModalInsumos(); agregarItem();">
            <span class="icon"><i class="fa fa-plus"></i></span><span>Agregar</span>
            </a>
          </div> 
          
          <table class="table is-unselectable" *ngIf="!cargando" style="font-size: 0.8em;">
              <thead>
                  <tr >
                    <th style="width:41px;vertical-align: middle;" class="has-text-centered" >Lote</th>
                    <th style="width:118px;">
                      <p class="control is-expanded" >
                      <input class="input is-small" type="text" placeholder="Clave" #searchBoxClave id="search-box" (keyup)="buscar(['clave'],searchBoxClave.value)">
                      </p>
                    </th>
                    <th>
                      <p class="control is-expanded">
                      <input class="input is-small" type="text" placeholder="Genérico" #searchBoxDescripcion id="search-box" (keyup)="buscar(['generico','concentracion','presentacion'],searchBoxDescripcion.value)">
                      </p>
                    </th>                    
                    <th style="text-align: center; vertical-align: middle;"><abbr title="Cantidad">Cant.</abbr></th>
                    <th></th>
                  </tr>
              </thead>
              <tbody *ngIf="!filtroActivado">
                <tr *ngFor="let item of listaInsumosPaginada; let i = index;">
                  <td class="has-text-centered">{{ item.lote }}</td>
                  <th class="has-text-centered">{{ item.clave }}</th>
                  <td >
                    <b>{{ item.generico }}</b> <small><b>{{ item.concentracion }}</b></small><br>
                    <i>{{ item.presentacion }}</i> <span *ngIf="item.controlado" class="tag is-warning" style="font-size: 0.7em">Controlado</span> <span *ngIf="!item.causes" class="tag is-info" style="font-size: 0.7em">No causes</span><br>
                    <small>{{ item.descripcion }}</small>
                  </td>
                  <th>
                      <p class="control is-expanded">
                      <input class="input is-small has-text-centered"  type="text" placeholder="Cant" [(ngModel)]="item.cantidad">
                      </p>
                  </th>                  
                  <td><a (click)="eliminarItem(item,i)"><span class="icon"><i class="fa fa-trash"></i></span></a></td>
                </tr>                
              </tbody>
              <tbody *ngIf="filtroActivado">
                <tr *ngFor="let item of listaInsumosFiltroPaginada; let i = index;">
                  <td class="has-text-centered">{{ item.lote }}</td>
                  <th class="has-text-centered">{{ item.clave }}</th>
                  <td>
                    <b>{{ item.generico }}</b> <small><b>{{ item.concentracion }}</b></small><br>
                    <i>{{ item.presentacion }}</i> <span *ngIf="item.controlado" class="tag is-warning" style="font-size: 0.7em">Controlado</span> <span *ngIf="!item.causes" class="tag is-info" style="font-size: 0.7em">No causes</span><br>
                    <small>{{ item.descripcion }}</small>
                  </td>
                  <th>
                      <p class="control is-expanded">
                      <input class="input is-small has-text-centered"  type="text" placeholder="Cant" [(ngModel)]="item.cantidad">
                      </p>
                  </th>                  
                  <td><a (click)="eliminarItem(item,i)"><span class="icon"><i class="fa fa-trash"></i></span></a></td>
                </tr>
              </tbody>              
          </table>
         
          <paginacion 
                [total]="total" 
                [paginasTotales]="paginasTotales" 
                [resultadosPorPagina]="resultadosPorPagina" 
                [paginaActual]="paginaActual" 
                [indicePaginas]="indicePaginas"
                (onSiguiente)="paginaSiguiente()" 
                (onAnterior)="paginaAnterior()" 
                (onListar)="listar($event)" 
                *ngIf="total > 0 && total > resultadosPorPagina && !filtroActivado"></paginacion>
          
          <paginacion 
                [total]="totalFiltro" 
                [paginasTotales]="paginasTotalesFiltro" 
                [resultadosPorPagina]="resultadosPorPaginaFiltro" 
                [paginaActual]="paginaActualFiltro" 
                [indicePaginas]="indicePaginasFiltro"
                (onSiguiente)="paginaSiguienteFiltro()" 
                (onAnterior)="paginaAnteriorFiltro()" 
                (onListar)="listarFiltro($event)" 
                *ngIf="totalFiltro > 0 && totalFiltro > resultadosPorPaginaFiltro && filtroActivado"></paginacion>
          
          <br>
        </div>
        
    </div>
</div>

<div class="notification is-danger" style="position:fixed; left:1em;  bottom:1em;" *ngIf="mensajeError.mostrar">
    <button class="delete" (click)="mensajeError.mostrar = false"></button>        
    <b>Error:</b> {{ mensajeError.texto }}<br><br>
    <p style="text-align:center" ><a  class="button is-danger is-inverted" (click)="ultimaPeticion(); mensajeError.mostrar = false"> <span class="icon"><i class="fa fa-refresh"></i></span> <span>Volver a intentar</span></a></p>        
</div>

<div class="notification is-success" style="position:fixed; left:1em;  bottom:1em; width: auto" *ngIf="mensajeExito.mostrar">       
    <button class="delete" (click)="mensajeExito.mostrar = false"></button>
    <p><span class="icon" style="margin-right: 0.5em;"><i class="fa fa-check-circle"></i></span> <span>{{ mensajeExito.texto }}</span></p>
    <br>
    <p style="text-align: center;"><small >Este mensaje desaparecerá en {{ mensajeExito.cuentaAtras }} segundos.</small></p>       
</div>

<buscar-insumos *ngIf="mostrarModalInsumos" (onCerrar)="mostrarModalInsumos = false" (onEnviar)="agregarItem($event)"></buscar-insumos>

