<div [formGroup]="movimiento">

    <div class="control is-grouped">
        <p class="control">
            <label>Tipo de movimiento</label>
        </p>
        <p class="box">
            <label> <strong> Entrada estandar </strong></label>
        </p>
    </div>

    <div class="control is-grouped">
        <p class="control">
            <label>Fecha de movimiento</label>
        </p>
        <p class="control is-expanded  has-icon has-icon-right">
            <input
            ngui-datetime-picker
            default-value="fecha_actual"
            max-date="fecha_actual"
            [value]="fecha_actual | date:'yyyy-MM-dd'"
            date-only="true" 
            formControlName="fecha_movimiento"/>
        </p>
    </div>


    <div class="control">
        <p class="control is-expanded  has-icon has-icon-right">
            <textarea class="textarea" autofocus type="text" [ngClass]="{'is-danger': movimiento.get('observaciones').hasError('required') && movimiento.get('observaciones').touched}" placeholder="Observaciones" formControlName="observaciones"></textarea>
            <span class="icon is-small" *ngIf="movimiento.get('observaciones').hasError('required') && movimiento.get('observaciones').touched">
                <i class="fa fa-warning"></i>
              </span>
            <span class="help is-danger" *ngIf="movimiento.get('observaciones').hasError('required') && movimiento.get('observaciones').touched">Este campo es requerido.</span>
        </p>
    </div>

    <div formGroupName="movimiento_metadato">
        <div class="control">
            <p class="control has-icon has-icon-right">
                <input type="text" class="input" autofocus placeholder="Persona que recibe"  formControlName="persona_recibe" [ngClass]="{'is-danger': movimiento.get('movimiento_metadato').get('persona_recibe').hasError('required') && movimiento.get('movimiento_metadato').get('persona_recibe').touched}">
                <span class="icon is-small" *ngIf="movimiento.get('movimiento_metadato').get('persona_recibe').hasError('required') && movimiento.get('movimiento_metadato').get('persona_recibe').touched">
                    <i class="fa fa-warning"></i>
                </span>
                <span class="help is-danger" *ngIf="movimiento.get('movimiento_metadato').get('persona_recibe').hasError('required') && movimiento.get('movimiento_metadato').get('persona_recibe').touched">Este campo es requerido.</span>
            </p>
        </div>
    </div>
    <div class="control" *ngIf="mostrarCancelado">
        <!-- *ngIf -->
        <p class="control">
            <label class="checkbox">
                <input type="checkbox" formControlName="cancelado">
                Cancelado
              </label>
        </p>
        <p class="control is-expanded  has-icon has-icon-right">
            <textarea class="textarea" autofocus type="text" [ngClass]="{'is-danger': movimiento.get('observaciones_cancelacion').hasError('required') && movimiento.get('observaciones_cancelacion').touched}" placeholder="Observaciones de cancelacion" formControlName="observaciones_cancelacion"></textarea>
            <span class="icon is-small" *ngIf="movimiento.get('observaciones_cancelacion').hasError('required') && movimiento.get('observaciones_cancelacion').touched">
                <i class="fa fa-warning"></i>
              </span>
            <span class="help is-danger" *ngIf="movimiento.get('observaciones_cancelacion').hasError('required') && movimiento.get('observaciones_cancelacion').touched">Este campo es requerido.</span>
        </p>
    </div>

</div>