<div class="modal is-active">
    <div class="modal-background login-background">
        <section class="hero is-primary" style="height: 100px">
            <div class="hero-body">
                <div class="container">
                    <nav class="level">
                    <!-- Left side -->
                        <div class="level-left" style="padding: 0">
                            <div class="level-item">
                                <figure class="image is-128x128">
                                    <img src="assets/chiapas-nos-une.png">
                                </figure>
                            </div>
                        </div>

                        <!-- Right side -->
                        <div class="level-right" style="padding: 0">
                            <p class="level-item">
                                <figure class="image is-128x128">
                                    <img src="assets/sec-salud.png">
                                </figure>
                            </p>
                        </div>
                    </nav>
                </div>
            </div>
        </section>
    </div>
    <div class="modal-content">
        <div class="card" style=" border-radius:1em; overflow: hidden">
            <div class="card-header is-primary">
                <section class="hero is-primary" style="width: 100%">
                    <div class="hero-body" style="align-self: center;">
                        <div class="container">
                            <figure class="image is-128x128">
                                <img src="assets/sial-logo.svg">
                            </figure>
                        </div>
                    </div>
                </section>
            </div>
            <!--<div class="card-image" >
                <figure class="image " style="border-radius: 1em 1em 0em 0em; overflow: hidden;">
                    <img src="assets/bg-login_salud.svg" alt="Image">
                </figure>
            </div>-->
            <div class="card-content">
                <form name="form" (ngSubmit)="!loading && login()">
                    <h1 class="title has-text-centered">Bienvenido</h1>
                    <h2 class="subtitle has-text-centered">Esta app esta diseñada especialmente para ti.</h2>
                    <div class="notification is-danger" *ngIf="mostrarMensaje">
                        <a class="delete" (click)="mostrarMensaje = false"></a>
                        <b>Error:</b> {{ mensaje }}
                    </div>
                    <p class="control has-icon">
                        <input class="input is-medium" [ngClass]="{'is-danger': mensaje}" type="text" name="id" id="id" placeholder="Usuario" [(ngModel)]="credenciales.id"  autofocus>
                        <span class="icon is-small">
                        <i class="fa fa-user"></i>
                        </span>
                    </p>
                    <p class="control has-icon">
                        <input class="input is-medium" [ngClass]="{'is-danger': mensaje}" type="password" name="password" id="password" placeholder="Contraseña" [(ngModel)]="credenciales.password">
                        <span class="icon is-small">
                        <i class="fa fa-lock"></i>
                        </span>
                    </p>
                    <p class="control" >
                        <button class="button is-primary is-large is-fullwidth" [ngClass]="{'is-loading': loading}" >Iniciar sesión</button>
                    </p>
                    <p class="control" *ngIf="saludIdDisponible">
                        <button class="button is-info is-large is-fullwidth">Conectar con Salud ID</button>
                    </p>
                    <p class="control">
                        <a class="button is-white is-fullwidth" >Olvidé mi contraseña</a>
                    </p>
                </form>
            </div>
        </div>
    </div>
</div>