<administrador-central-menu></administrador-central-menu>
<div style="height:50px;"></div>
<div class="contenedor columns " style="height:100%; overflow:auto">
  <div class="column is-narrow is-hidden-mobile">
    <administrador-central-menu-lateral></administrador-central-menu-lateral>
  </div>
  <div class="column" style="overflow: scroll;">
    <section style="background:white; border-radius:1em; margin:20px; padding-bottom: 0.25em;">
      <div class="top-bar is-primary" [ngClass]=" {'is-dark': busquedaActivada, 'is-primary': !busquedaActivada } ">

        <h1 class="title" style="margin-bottom:0px">
          <span *ngIf="!cargandoPresupuesto" class="icon is-medium">
            <i class="fa fa-file"></i>
          </span>
          <span *ngIf="cargandoPresupuesto" class="icon is-medium"><i class="fa fa-refresh fa-spin"></i></span>
          Pedido ordinario
        </h1>
        <a class="button is-primary" style="position:absolute; top:1em; right:3.5em;" (click)="exportarPresupuestoExcel()"><span class="icon is-small"><i class="fa fa-file-excel-o "></i></span><span>Exportar
                  a excel</span></a>
        <a class="button  is-primary" routerLink="/administrador-central/pedidos-ordinarios/" style="position:absolute; top:1em; right:1em;">
          <span class="icon ">
            <i class="fa fa-arrow-left"></i>
          </span>
        </a>
      </div>
      <div style="padding:10px">
        <div class="columns is-desktop" style="font-size: 0.8em">
          <div class="column ">
            <div class="content">
              <h3><strong>{{ pedido_ordinario.descripcion }}</strong></h3>
              
            <hr>
            </div>
            
            <nav class="level">
              <div class="level-left">
                <div class="level-item">
                  <p>
                    <strong><small>Fecha</small></strong><br>
                    <span>{{ pedido_ordinario.fecha | date: 'dd/MM/yyyy' }} </span>
                  </p>
                </div>
                <div class="level-item">
                  <p>
                    <strong><small>Fecha expiración</small></strong><br>
                    <span>{{ pedido_ordinario.fecha_expiracion | date: 'dd/MM/yyyy' }} a las {{
                      pedido_ordinario.fecha_expiracion | date: 'HH:mm' }} hrs</span>
                  </p>
                </div>
                <p class="level-item"><a class="button is-primary is-inverted" title="Ampliar fecha de expiración"><span class="icon"><i class="fa fa-calendar-plus-o"></i></span></a></p>              
              </div>
              <div class="level-right">
                  <p class="level-item"><a class="button is-warning" (click)="aumentarExcedido()" title="Aumentar presupuesto a pedidos excedidos" [ngClass]="{'is-disabled': total_faltante == 0 }"><span class="icon"><i class="fa fa-dollar"></i></span> <span>Aumentar excedidos ({{ total_faltante }})</span></a></p>              
                  <p class="level-item"><a class="button is-success"  title="Liberar presupuesto no utilizado" [ngClass]="{'is-disabled': total_liberar_presupuesto == 0 }"><span class="icon"><i class="fa fa-check"></i></span> <span>Liberar presupuesto ({{ total_liberar_presupuesto }})</span></a></p>              
              </div>
            </nav>
          </div>
        </div>

        <section *ngIf="!cargando" style="width:100%; height:auto;  overflow-x:scroll">
          <table class="table is-bordered is-striped" style="font-size:0.65em;">
            <thead>

              <tr>
                <th rowspan="2" style="text-align:center; vertical-align: middle; width: 48px">
                  <a class="button is-small is-danger" title="Cancelar todos" (click)="cancelar()" [ngClass]="{'is-disabled': guardando}"><span
                      class="icon is-small"><i class="fa fa-ban"></i></span></a>
                </th>
                <th rowspan="2" style="text-align:center; vertical-align: middle; width: 80px;">Clues</th>
                <th rowspan="2" style="text-align:center; vertical-align: middle; max-width: 180px">Nombre</th>
                <th rowspan="2" style="text-align:center; vertical-align: middle; width: 40px">Status</th>

                <th colspan="2" style="text-align:center; min-width: 120px;">AUTORIZADO</th>
                <th colspan="2" style="text-align:center; min-width: 120px;">MODIFICADO</th>
                <th colspan="2" style="text-align:center; min-width: 140px;">CAPTURADO</th>
                <th colspan="2" style="text-align:center; min-width: 120px;">COMPROMETIDO</th>
                <th colspan="2" style="text-align:center; min-width: 120px;">DEVENGADO</th>
                <th colspan="2" style="text-align:center; min-width: 140px;">DISPONIBLE</th>
                <th style="text-align:center; vertical-align: middle;" rowspan="2">Última modificación</th>
              </tr>
              <tr>
                <th style="text-align:center; ">CAUSES / MAT CUR</th>
                <th style="text-align:center">NO CAUSES</th>
                <th style="text-align:center">CAUSES / MAT CUR</th>
                <th style="text-align:center">NO CAUSES</th>
                <th style="text-align:center">CAUSES / MAT CUR</th>
                <th style="text-align:center">NO CAUSES</th>
                <th style="text-align:center">CAUSES / MAT CUR</th>
                <th style="text-align:center">NO CAUSES</th>
                <th style="text-align:center">CAUSES / MAT CUR</th>
                <th style="text-align:center;">NO CAUSES</th>
                <th style="text-align:center">CAUSES / MAT CUR</th>
                <th style="text-align:center">NO CAUSES</th>
              </tr>
            </thead>
            <tbody *ngIf="pedido_ordinario.pedidos_ordinarios_unidades_medicas">
              <tr *ngFor="let item of pedido_ordinario.pedidos_ordinarios_unidades_medicas; let i=index" [ngClass]="{ 'is-danger': item.error }">
                <td style="text-align:center">
                  <a *ngIf="item.status == 'S/P' || item.status == 'EX' " title="Cancelar" class="button is-small is-danger is-inverted"
                    (click)="cancelar(item)" [ngClass]="{'is-disabled': guardando}"><span class="icon is-small"><i
                        class="fa fa-ban"></i></span></a>
                  <span *ngIf="item.status == 'FI'" class="icon"><i class="fa fa-check"></i></span>
                  <span *ngIf="item.status == 'CA'" class="icon"><i class="fa fa-ban"></i></span>
                </td>
                <td><span class="text-overflow" title="{{ item.clues }}">{{ item.clues }}</span></td>
                <td><span class="text-overflow" title="{{ item.unidad_medica.nombre }}">{{ item.unidad_medica.nombre }}</span></td>
                <td style="text-align:center">
                  <abbr [ngStyle]="{'color': item.status == 'CA' || item.status == 'EX'? 'red': 'black' }" title="{{ item.status == 'S/P'? 'Sin pedido capturado' : ( item.status == 'EP' ? 'Captura en proceso': ( item.status == 'CA'? 'Cancelado': (item.status == 'EX'? 'Expirado': 'Finalizado')))  }}">{{ item.status }}</abbr>
                  
                </td>

                <td style="text-align:right">${{ (item.causes_autorizado || 0) | number:'1.2-2' }}</td>
                <td style="text-align:right">${{ (item.no_causes_autorizado || 0) | number:'1.2-2' }}</td>
                <td style="text-align:right">${{ (item.causes_modificado || 0) | number:'1.2-2' }}</td>
                <td style="text-align:right">${{ (item.no_causes_modificado || 0) | number:'1.2-2' }}</td>

                <td style="text-align:right; white-space: nowrap;">
                  <a title="Aumentar presupuesto CAUSES" *ngIf="item.status == 'EP' && item.causes_disponible - item.causes_capturado < 0; else labelcausescapturado"
                    style="color:red !important; text-decoration: underline;" (click)="aumentarExcedido(item,true)">
                    ${{ (item.causes_capturado || 0) | number:'1.2-2' }}<span class="icon" style="font-size:1em; line-height: 1.5; width:1.2em;"><i
                        class="fa fa-plus-circle"></i></span>
                  </a>
                  <ng-template #labelcausescapturado>
                    ${{ (item.causes_capturado || 0) | number:'1.2-2' }}
                  </ng-template>

                </td>
                <td style="text-align:right; white-space: nowrap;">
                  <a title="Aumentar presupuesto NO CAUSES" *ngIf="item.status == 'EP' && item.no_causes_disponible - item.no_causes_capturado < 0; else labelnocausescapturado"
                    style="color:red !important; text-decoration: underline;" (click)="aumentarExcedido(item,false)">
                    ${{ (item.no_causes_capturado || 0) | number:'1.2-2' }}<span class="icon" style="font-size:1em; line-height: 1.5; width:1.2em;"><i
                        class="fa fa-plus-circle"></i></span>
                  </a>
                  <ng-template #labelnocausescapturado>
                    ${{ (item.no_causes_capturado || 0) | number:'1.2-2' }}
                  </ng-template>

                </td>

                <td style="text-align:right">${{ (item.causes_comprometido || 0) | number:'1.2-2' }}</td>
                <td style="text-align:right">${{ (item.no_causes_comprometido || 0) | number:'1.2-2' }}</td>
                <td style="text-align:right">${{ (item.causes_devengado || 0) | number:'1.2-2' }}</td>
                <td style="text-align:right">${{ (item.no_causes_devengado || 0) | number:'1.2-2' }}</td>

                <td style="text-align:right; white-space: nowrap;">
                  <a title="Liberar presupuesto CAUSES" *ngIf="item.status == 'FI' && item.causes_disponible > 0; else labelcausesdisponible"
                    style="color:green !important; text-decoration: underline;" (click)="liberarPresupuesto(item,true)">
                    ${{ (item.causes_disponible || 0) | number:'1.2-2' }}<span class="icon" style="font-size:1em; line-height: 1.5; width:1.2em;"><i
                        class="fa fa-arrow-circle-right"></i></span>
                  </a>
                  <ng-template #labelcausesdisponible>
                    ${{ (item.causes_disponible || 0) | number:'1.2-2' }}
                  </ng-template>
                </td>
                <td style="text-align:right; white-space: nowrap;">
                  <a title="Liberar presupuesto NO CAUSES" *ngIf="item.status == 'FI' && item.no_causes_disponible > 0; else labelnocausesdisponible"
                    style="color:green !important; text-decoration: underline;" (click)="liberarPresupuesto(item,false)">
                    ${{ (item.no_causes_disponible || 0) | number:'1.2-2' }}<span class="icon" style="font-size:1em; line-height: 1.5; width:1.2em;"><i
                        class="fa fa-arrow-circle-right"></i></span>
                  </a>
                  <ng-template #labelnocausesdisponible>
                    ${{ (item.no_causes_disponible || 0) | number:'1.2-2' }}
                  </ng-template>
                </td>

                <td><span class="text-overflow" title="{{ item.updated_at }}">{{ item.updated_at }}</span></td>
              </tr>
            </tbody>
          </table>
        </section>


      </div>

    </section>
  </div>
</div>

<div class="notification is-danger" style="position:fixed; left:1em;  bottom:1em;" *ngIf="mensajeError.mostrar">
  <button class="delete" (click)="mensajeError.mostrar = false"></button>
  <b>Error:</b> {{ mensajeError.texto }}
  <br>
  <br>
  <p style="text-align:center">
    <a class="button is-danger is-inverted" (click)="ultimaPeticion(); mensajeError.mostrar = false">
      <span class="icon">
        <i class="fa fa-refresh"></i>
      </span>
      <span>Volver a intentar</span>
    </a>
  </p>
</div>

<div class="notification is-success" style="position:fixed; left:1em;  bottom:1em; width: auto" *ngIf="mensajeExito.mostrar">
  <button class="delete" (click)="mensajeExito.mostrar = false"></button>
  <p>
    <span class="icon" style="margin-right: 0.5em;">
      <i class="fa fa-check-circle"></i>
    </span>
    <span>{{ mensajeExito.texto }}</span>
  </p>
  <br>
  <p style="text-align: center;">
    <small>Este mensaje desaparecerá en {{ mensajeExito.cuentaAtras }} segundos.</small>
  </p>
</div>