<formulario #ctrl URL="mis-claves" titulo="Claves / Configuración" [dato]="dato"></formulario>
<panel-control-menu></panel-control-menu>
<div style="height:50px;"></div>
<div class="contenedor columns " style="height:100%">
  <div class="column is-one-quarter is-hidden-mobile">
    <panel-control-menu-aside></panel-control-menu-aside>
  </div>
  <div class="column" style="padding:2em;">
    <div style="background: #FFF; border-radius: 1em; overflow: hidden;">
      <section class="hero is-primary">
        <div class="hero-body">
          <a class="button  is-primary" style="position:absolute;top: 6em;right: 3em;" (click)="ctrl.cargarDatos(); "  id="actualizar"><span class="icon "><i class="fa fa-refresh"></i></span></a>
          <div class="container is-fluid">
            <h1 class="title">
              <span *ngIf="!ctrl.cargando" class="icon is-medium"><i class="fa fa-edit"></i></span>
              <span *ngIf="ctrl.cargando" class="icon is-medium"><i class="fa fa-refresh fa-spin"></i></span>
              <!-- -->Mis claves
            </h1>
            <span style="text-align: right">Última actualización: <span *ngIf="!actualizado" class="icon is-small"><i class="fa fa-refresh fa-spin"></i></span>
                <strong *ngIf="actualizado" >{{actualizacion | date}}</strong> 
                Por: <span *ngIf="!actualizado" class="icon is-small"><i class="fa fa-refresh fa-spin"></i></span>
                <strong *ngIf="actualizado">{{actualizacion_usuario}} </strong> 
            </span>
          </div>
        </div>
      </section>
      <div class="is-fullwidth has-text-centered" *ngIf="!ctrl.datosCargados">
        <br>
        <span class="tag is-primary is-large "><span class="icon"><i class="fa fa-refresh fa-spin"></i></span>        &nbsp;<span>Cargando...</span></span>
      </div>
      <section class="section">
        <!-- formulario -->
        <form name="dato" novalidate [formGroup]="dato" (ngSubmit)="ctrl.enviar(false)">
          <a id="catalogos" (click)="ctrl.cargarCatalogo('tipos_claves', 'insumos-auto'); "></a>



            <div class="box">
              <article class="media">
                <div class="media-content">
                  <div class="content">
                    <nav class="panel">
                      <div class="panel-heading">
                        <div class="field">
                          <label for="Claves">
                                Claves disponibles
                            </label>
                          <div style="height:15px;"></div>

                          <input ngui-auto-complete [source]="insumos_term" [list-formatter]="autocompleListFormatter" 
                            id="buscarInsumo" value-property-name="clave"
                            display-property-name="nombre" path-to-data="" loading-text="Cargando..." no-match-found-text="No hay resultados."
                            (valueChanged)="select_insumo_autocomplete($event)" min-chars="1" class="input is-success is-medium"
                            type="text" placeholder="Escanea el codigo de barra, o empieza escribir el nombre del producto" >
                        </div>
                      </div>
                    </nav>
                    
                    <nav class="panel" >
                      <div class="panel-heading">
                        <div class="field">
                          <label for="MisClaves" style="padding-bottom: 5px">
                              Mis claves
                          </label>
                        </div>
                      </div>
                      <div class="content">
                        <div class="card">
                          <div class="columns" style="padding: 5px; padding-left: 15px">
                            <div class="nav-left nav-menu">
                              <p class="control" style="padding: 10px">
                                <a class="button" [ngClass]="{ 'is-primary': tipo == 'ME' && es_causes == 1}" (click)="tipo='ME'; es_causes = 1">
                                  <span class="icon">
                                    <i class="fa fa-medkit"></i>
                                  </span>
                                  <span>CAUSES</span>
                                </a>
                              </p>
                              <p class="control" style="padding: 10px">
                                <a class="button" [ngClass]="{ 'is-primary': tipo == 'ME' && es_causes == 0}" (click)="tipo= 'ME'; es_causes = 0">
                                  <span class="icon">
                                    <i class="fa fa-medkit"></i>
                                  </span>
                                  <span>NO CAUSES</span>
                                </a>
                              </p>
                              <p class="control" style="padding: 10px">
                                <a class="button" [ngClass]="{ 'is-primary': tipo == 'MC' && es_causes == 0}" (click)="tipo='MC'; es_causes = 0">
                                  <span class="icon">
                                    <i class="fa fa-medkit"></i>
                                  </span>
                                  <span>MATERIAL DE CURACION</span>
                                </a>
                              </p>
                            </div>
                            <label class="label" style="padding: 15px">
                              Total de claves: {{ctrl.dato.get('clues_claves').length}}
                            </label>
                          </div>
                          <!-- AGRUPADO POR CAUSES/NOCAUSES -->
                          <div>
                            <div class="scroll">
                              <div class="content" formArrayName="clues_claves"  *ngIf="ctrl.dato.get('clues_claves').length > 0">
                                <table class="table is-striped" style="padding: 20px;">
                                  <tbody *ngFor="let val of  ctrl.dato.controls.clues_claves.controls ; let i=index;" >
                                    <tr *ngIf="val.value.tipo==tipo && val.value.es_causes==es_causes" [formGroupName]="i">
                                      <td>{{val.value.clave_insumo_medico}} </td>
                                      <td>{{val.value.descripcion}} </td>
                                      <td>{{val.value.tipo}} </td>
                                      <td> </td>
                                      <td><a class="delete" (click)="ctrl.quitar_form_array(ctrl.dato.controls.clues_claves, i)"></a></td>
                                    </tr>
                                  </tbody>
                                </table>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </nav>
            </div>
          </div>
          </article>
    </div>
  <br><br>
  <div class="control is-grouped" style="float:left; padding:10px;">
    <p class="control">
      <button class="button is-primary" type="submit" [ngClass]="{'is-loading': ctrl.cargando}"
        [disabled]="ctrl.dato.invalid">Guardar</button>
    </p>
    <p class="control" *ngIf="ctrl.id">
      <button class="button is-danger" type="button" [ngClass]="{'is-loading': ctrl.cargando}"
        (click)="ctrl.eliminar(ctrl.id)">Eliminar </button>
    </p>
    <p class="control">
      <a class="button is-white" (click)="ctrl.regresar()">Regresar</a>
    </p>
  </div>

  </form>
  </section>
</div>
</div>
</div>