<formulario #ctrl URL="movimientos" titulo="Ajuste de inventario" [dato]="dato"></formulario>
<app-menu-inventario [modulo]="'Ajuste de inventario'" [icono]="'assets/icono-salidas.svg'" [url]="'/inventario/ajuste-inventario'"></app-menu-inventario>
<div style="height:50px;"></div>

<div class="contenedor columns">
    <div class="column" style="padding:1em;">
        <div style="background: #FFF; border-radius: 1em; ">
            <!-- Menú superior derecho -->
            <section class="hero is-primary">
                <div class="hero-body">
                    <!-- Main container -->
                    <nav class="level">
                        <!-- Left side -->
                        <div class="level-left">
                            <h1 *ngIf="!tieneid" class="title" style="margin:0.5em; ">
                                <span class="icon is-medium">
                                    <i class="fa fa-file-text"></i>
                                </span> {{ctrl.moduloTitulo}}
                            </h1>
                            <h1 *ngIf="tieneid" class="title" style="margin:0.5em; ">
                                <span class="icon is-medium">
                                    <i class="fa fa-file-text"></i>
                                </span> Folio {{ctrl.id}}
                            </h1>
                        </div>
                        <!-- Right side -->
                        <div class="level-right">
                            <p class="level-item" *ngIf="!tieneid" style="float:left">
                                <button class="button is-primary is-medium" (click)="guardar_ajuste()"
                                [ngClass]="{'is-loading': ctrl.cargando}">
                                    <span class="icon "><i class="fa fa-floppy-o" aria-hidden="true"></i></span>&nbsp; Guardar
                                </button>
                            </p>
                            <p class="level-item" style="float:left">
                                    <a class="button is-primary is-medium" (click)="ctrl.regresar()"><i class="fa fa-arrow-left" aria-hidden="true"></i>&nbsp;<span>Regresar</span>                                            
                                    </a>
                            </p>
                            <p class="level-item"><a class="button  is-primary" (click)="ctrl.cargarDatos();  "><span class="icon "><i class="fa fa-refresh"></i></span></a></p>
                            <p class="level-item">&nbsp;</p>
                        </div>
                    </nav>
                </div>
            </section>
            <div class="is-fullwidth has-text-centered" *ngIf="!ctrl.datosCargados">
                <br>
                <span class="tag is-primary is-large "><span class="icon"><i class="fa fa-refresh fa-spin"></i></span>                    &nbsp;<span>Cargando...</span></span>
            </div>
            <!-- Input de búsqueda de insumo -->
            <section class="section">
                <div class="field has-addons has-addons-centered" *ngIf="!tieneid">
                    <p class="control">
                        <input ngui-auto-complete [source]="insumos_term" [list-formatter]="autocompleListFormatter" id="buscarInsumo" value-property-name="clave"
                            display-property-name="descripcion" path-to-data="" loading-text="Cargando..." no-match-found-text="No hay resultados."
                            (valueChanged)="select_insumo_autocomplete($event)" min-chars="1" class="input is-success is-medium"
                            type="text" placeholder="Escanea el codigo de barra, o empieza escribir el nombre del producto" >
                    </p>
                </div>
            </section>
        </div>
    </div>
</div>

<div class="is-fullwidth has-text-centered" *ngIf="cargando">
    <br>
    <span class="tag is-primary is-large "><span class="icon"><i class="fa fa-refresh fa-spin"></i></span>                    &nbsp;<span>Cargando...</span></span>
</div>

<div class="content" *ngIf="activar_vista_lotes && !cargando">
    <nav class="nav" style="padding: 1%">
        <div class="nav-left">
        </div>
        <div class="nav-right">
            <p class="nav-item"><a class="button is-dark" (click)="agregarNuevoLote()">Agregar nuevo lote</a></p>
            <p class="nav-item"><a class="is-danger" title="Quitar este elemento de la lista" style="float:right"><span class="icon"><i class="fa fa-trash-o"></i></span></a></p>
            <p class="nav-item">&nbsp;</p>
            <p class="nav-item">&nbsp;</p>
        </div>
    </nav>
    <div class="card" style="padding: 10px">
        <div class="content" style="width: 90%; padding-left: 10px">
            <br>
            <p>
                <strong>
                    <span style="color:cornflowerblue">
                    Clave: {{ this.insumo.clave }} 
                    </span>
                    Nombre: {{ this.insumo.nombre }}
                    <label class="tag is-success" *ngIf="this.insumo.es_causes == 1"><strong>Cause </strong></label>
                    <label class="tag is-success" *ngIf="this.insumo.es_causes == 0"><strong>No Cause </strong> </label>
                    <label class="tag is-warning" *ngIf="this.insumo.es_unidosis == 1"><strong>Unidosis</strong> </label>
                </strong>
                <br> {{this.insumo.descripcion}}
            </p>
        </div>
        <form [formGroup]="dato" novalidate (ngSubmit)="guardar_ajuste()">
            <section class="card-content" style="overflow: auto; height: 450px">
                <table class="table is-narrow is-bordered is-striped">
                    <thead>
                        <tr>
                            <th>Lote</th>
                            <th>Caducidad</th>
                            <th>Codigo de barras</th>
                            <th>Existencia</th>
                            <th>Ajuste</th>
                            <th>Nueva existencia</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody formArrayName="lotes">
                        <tr *ngFor="let item of dato.controls.lotes.controls;  let i = index;" [formGroupName]="i">
                            <td *ngIf="!item.value.nuevo">{{item.value.lote}}</td>
                            <td *ngIf="item.value.nuevo"><input class="input has-text-centered " type="text" placeholder="Lote" formControlName="lote"></td>
                            <td *ngIf="!item.value.nuevo">{{item.value.fecha_caducidad}}</td>
                            <td *ngIf="item.value.nuevo"><input class="input has-text-centered " type="date" placeholder="Fecha de caducidad" formControlName="fecha_caducidad"></td>
                            <td *ngIf="!item.value.nuevo">{{item.value.codigo_barras}}</td>
                            <td *ngIf="item.value.nuevo"><input class="input has-text-centered " type="text" placeholder="Codigo de barras" formControlName="codigo_barras"></td>
                            <td *ngIf="!item.value.nuevo">{{item.value.existencia}}</td>
                            <td *ngIf="item.value.nuevo"></td>
                            <td *ngIf="!item.value.nuevo">
                                <input id="activar{{i}}" type="checkbox" class="checkbox" formControlName="ajuste" (click)="check_option($event,i);" >
                                <label for="activar{{i}}">Realizar ajuste {{item.value.ajuste}}</label> 
                            </td>
                            <td *ngIf="item.value.nuevo"></td>
                            <td *ngIf="!item.value.ajuste"></td>
                            <td *ngIf="ajuste[i] || item.value.nuevo">
                                <input class="input has-text-centered " type="text" placeholder="Nueva existencia" formControlName="nueva_existencia">
                            </td>
                            <td>
                                <a *ngIf="item.value.nuevo" class="delete" (click)=eliminarLote(i)></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </section>
        </form>
    </div>
</div>