<formulario #ctrl URL="movimientos" titulo="Ajuste de inventario" [dato]="dato"></formulario>
<menu-farmacia [modulo]="'Ajuste de inventario'" [icono]="'assets/icono-salidas.svg'" [url]="'/almacen/ajuste-inventario'"></menu-farmacia><div style="height:50px;"></div>
<form name="form" novalidate [formGroup]="dato">
    <div class="contenedor columns " style="height:100%">
        <div class="column" style="padding:1em;">
            <div style="background: #FFF; border-radius: 1em; ">
                 <section class="hero is-primary">
                    <div class="hero-body">
                        <!-- Main container -->
                        <nav class="level">
                            <div class="level-left">
                                <h1 *ngIf="!tieneid" class="title" style="margin:0.5em; ">
                                    <span class="icon is-medium">
                                        <i class="fa fa-file-text"></i>
                                    </span> {{ctrl.moduloTitulo}}
                                </h1>
                                <h1 *ngIf="tieneid" class="title" style="margin:0.5em; ">
                                    <span class="icon is-medium">
                                        <i class="fa fa-file-text"></i>
                                    </span> Folio {{ctrl.id}}
                                </h1>
                            </div>
                            <!-- Right side -->
                            <div class="level-right">
                                <p class="level-item" *ngIf="!tieneid" style="float:left">
                                    <button class="button is-primary is-medium" (click)="guardar_movimiento()"
                                    [ngClass]="{'is-loading': ctrl.cargando}" ><span class="icon "><i class="fa fa-floppy-o" aria-hidden="true"></i></span>&nbsp; Guardar</button>
                                </p>
                                <p class="level-item" style="float:left">
                                        <a *ngIf="tieneid" class="button is-primary is-inverted" (click)="imprimir()">
                                            <span class="icon"><i class="fa fa-print"></i></span>
                                        </a>
                                        <a class="button is-primary is-medium" (click)="ctrl.regresar()"><i class="fa fa-arrow-left" aria-hidden="true"></i>&nbsp;<span>Regresar</span>                                            
                                        </a>
                                </p>
                                <p class="level-item"><a class="button  is-dark" *ngIf="ctrl.busquedaActivada" (click)="ctrl.busquedaActivada=false;searchBox.value=''; ctrl.resultadosBusqueda=[]"><span class="icon "><i class="fa fa-close"></i></span></a></p>
                                <p class="level-item"><a class="button  is-primary" (click)="ctrl.cargarDatos();  "><span class="icon "><i class="fa fa-refresh"></i></span></a></p>
                                <p class="level-item">&nbsp;</p>
                            </div>
                        </nav>
                        
                    </div>
                </section>
        
                <div class="is-fullwidth has-text-centered" *ngIf="!ctrl.datosCargados">
                    <br>
                    <span class="tag is-primary is-large "><span class="icon"><i class="fa fa-refresh fa-spin"></i></span>                    &nbsp;<span>Cargando...</span></span>
                </div>
                <section class="section">
                    <!-- apartado de Búsqueda -->
                    <div class="field has-addons has-addons-centered" *ngIf="!tieneid">
                        <p class="control">
                            <input ngui-auto-complete [source]="insumos_term" [list-formatter]="autocompleListFormatter" id="buscarInsumo" value-property-name="clave"
                                display-property-name="nombre" path-to-data="" loading-text="Cargando..." no-match-found-text="No hay resultados."
                                (valueChanged)="select_insumo_autocomplete($event)" min-chars="1" class="input is-success is-medium"
                                type="text" placeholder="Escanea el codigo de barra, o empieza escribir el nombre del producto" >
                        </p>
                    </div>
                        <br>
                    <!-- apartado de insumos -->
                    <div formArrayName="insumos">
                        <div class="box" *ngFor="let item of ctrl.dato.controls.insumos.controls; let i=index" [ngStyle]="{'background': i%2 == 0 ? 'rgba(230, 230, 232, 0.44)' : ''}">
                            
                            <article class="media" [formGroupName]="i">
                                <div class="media-content">
                                    <div class="content">
                                        <a *ngIf="!tieneid" class="is-danger" title="Quitar este elemento de la lista" style="float:right" (click)="ctrl.quitar_form_array(ctrl.dato.controls.insumos,i)"><span class="icon"><i class="fa fa-trash-o"></i></span></a>
                                        <span>&nbsp;</span>
                                        <a *ngIf="!tieneid" class="button is-dark" style="float:right" (click)="agregarNuevoLote()"><span class="icon"><i class="fa fa-plus"></i></span>&nbsp;  Agregar nuevo lote</a>
                                        <p>
                                            <strong>
                                                <span style="color:cornflowerblue">
                                                    Clave: {{ ctrl.dato.controls.insumos.controls[i].controls.clave.value }} 
                                                </span>
                                                Nombre: {{ctrl.dato.controls.insumos.controls[i].controls.descripcion.value}}
                                            
                                                <label class="tag is-success" *ngIf="ctrl.dato.controls.insumos.controls[i].controls.es_causes.value == 1"><strong>Cause </strong></label>
                                                <label class="tag is-success" *ngIf="ctrl.dato.controls.insumos.controls[i].controls.es_causes.value == 0"><strong>No Cause </strong> </label>                                           
                                                                                            
                                                <label class="tag is-warning" *ngIf="ctrl.dato.controls.insumos.controls[i].controls.es_unidosis.value == 1"><strong>Unidosis</strong> </label>
                                            </strong>
                                            <br> {{ctrl.dato.controls.insumos.controls[i].controls.descripcion.value}}
                                        </p>
                                    </div>
                                    <section >
                                        <span *ngIf="cargando"  class="icon"><i class="fa fa-refresh fa-spin"></i></span> 
                                        <table class="table is-narrow is-bordered is-striped">
                                            <thead>
                                                <tr>
                                                    <th>Lote</th>
                                                    <th>Caducidad</th>
                                                    <th>Codigo de barras</th>
                                                    <th>Existencia</th>
                                                    <th>Ajuste</th>
                                                    <th>Nueva Existencia</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let item of lista_de_lotes;  let i = index;">
                                                    <td *ngIf="!item.nuevo" style="vertical-align: middle;">{{item.lote}}</td>
                                                    <td *ngIf="item.nuevo" style="vertical-align: middle;"><input class="input has-text-centered " type="text" formControlName="lote" placeholder="Lote" [(ngModel)]="item.lote"></td>
                                                    
                                                    <td *ngIf="!item.nuevo" style="vertical-align: middle; ">{{item.fecha_caducidad}}</td>
                                                    <td *ngIf="item.nuevo" style="vertical-align: middle; "><input class="input has-text-centered " type="date" formControlName="fecha_caducidad" placeholder="Fecha de caducidad" [(ngModel)]="item.fecha_caducidad"></td>
                                                    
                                                    <td *ngIf="!item.nuevo" style="vertical-align: middle; ">{{item.codigo_barras}}</td>
                                                    <td *ngIf="item.nuevo" style="vertical-align: middle; "><input class="input has-text-centered " type="text" formControlName="codigo_barras" placeholder="Codigo de barras" [(ngModel)]="item.codigo_barras"></td>
                                                    
                                                    <td *ngIf="!item.nuevo" style="vertical-align: middle; ">{{item.existencia}}</td>
                                                    <td *ngIf="item.nuevo" style="vertical-align: middle; "></td>
                                                    
                                                    <td style="vertical-align: top; ">
                                                        <span>&nbsp;</span>
                                                        <div class="b-checkbox is-info"  [ngClass]="{'is-hidden': item.nuevo }">
                                                            <input type="checkbox" id="ajuste{{i}}" class="styled" (click)="check_option($event,i);" >
                                                            <label for="ajuste{{i}}">
                                                                <span>Realizar ajuste <strong> {{ajuste[i]}} </strong>  {{i}}</span> 
                                                            </label>
                                                        </div>
                                                    </td>
                                                    
                                                    
                                                    <td style="vertical-align: middle; ">
                                                        <input class="input has-text-centered " type="number" step="1" min="0" id="nueva_existencia{{i}}" [ngClass]="{'is-hidden': !item.nuevo && !ajuste[i] }"  placeholder="Nueva existencia" [(ngModel)]="item.nueva_existencia"> {{i}}
                                                        <!-- <input  class="input has-text-centered" type="number" step="1" min="0" placeholder="Nueva existencia"> -->
                                                        <!--<input class="input has-text-centered" type="number" step="1" min="0" (keypress)="quitar_punto($event)"  (keyup)="comprobar_cant_lotes()" (change)="comprobar_cant_lotes()" max="{{item.existencia}}" placeholder="Cantidad" [(ngModel)]="item.cantidad"> -->
                                                    </td>
                                                    
                                                    <td *ngIf="item.nuevo" style="vertical-align: middle; text-align: center;">
                                                        <a class="delete" (click)=eliminarLote(i)></a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </section>
                                    <div *ngIf="tieneid"  class="level-left">
                                        <div class="columns is-flex-desktop" style="width: 100%">
                                            <div class="column is-3">
                                                <p class="control is-expanded">
                                                <label class="label">Lote:</label>
                                                    <input type="text" class="input" formControlName="lote" [ngClass]="{'is-danger': ctrl.dato.controls.insumos.controls[i].controls.lote.hasError('required') && ctrl.dato.controls.insumos.controls[i].controls.lote.touched}">
                                                </p>
                                            </div>                       
                                            <div class="column is-4">
                                                <p class="control is-expanded">
                                                    <label class="label">Caducidad:</label>
                                                    <input type="date" class="input" formControlName="fecha_caducidad" [ngClass]="{'is-danger': ctrl.dato.controls.insumos.controls[i].controls.fecha_caducidad.hasError('required') && ctrl.dato.controls.insumos.controls[i].controls.fecha_caducidad.touched}">
                                                </p>
                                            </div>                          
                                            <div class="column is-3">
                                                <p class="control is-expanded">
                                                    <label class="label">Codigo de barras:</label>
                                                    <input type="text" class="input" formControlName="codigo_barras">
                                                </p>
                                            </div>    
                                            <div class="column is-2">                                                
                                                <p class="control is-expanded">
                                                    <label class="label">Nueva existencia:</label>
                                                    <input type="number" class="input" formControlName="nueva_existencia" [ngClass]="{'is-danger': ctrl.dato.controls.insumos.controls[i].controls.nueva_existencia.hasError('required') && ctrl.dato.controls.insumos.controls[i].controls.nueva_existencia.touched}">
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>

                </section>
            </div>
        </div>
    </div>
</form>

