<aside class="menu" style="padding: 1em;">
    <!--  <p class="menu-label">
        Pedidos
    </p>-->
    <a routerLink="/almacen/movimientos/entradas/nuevo" routerLinkActive="is-active" class="button is-primary is-inverted is-medium is-fullwidth"><span class="icon"  ><i class="fa fa-plus"></i></span> <span>Nueva Entrada</span></a>
    <br>
    <ul class="menu-list">
        <li>
            <a routerLink="/almacen/movimientos/entradas" #todos routerLinkActive="is-active">
                <span class="icon"><i class="fa fa-file"></i></span> Entrada manual
            </a>
        </li>

    </ul>

</aside>