<administrador-central-menu></administrador-central-menu>
<div style="height:50px;"></div>
<div class="contenedor columns " style="height:100%; ">
  <div class="column is-narrow is-hidden-mobile">
    <administrador-central-menu-lateral></administrador-central-menu-lateral>
  </div>
  <div class="column" style="overflow: scroll;">
    <section style="background:white; border-radius:1em; margin:20px; padding-bottom: 0.25em;">
      <div class="top-bar is-primary" [ngClass]=" {'is-dark': busquedaActivada, 'is-primary': !busquedaActivada } ">

        <h1 class="title" style="margin-bottom:0px">
          <span *ngIf="!cargandoPresupuesto" class="icon is-medium">
            <i class="fa fa-file"></i>
          </span>
          <span *ngIf="cargandoPresupuesto" class="icon is-medium"><i class="fa fa-refresh fa-spin"></i></span>
          Nuevo pedido ordinario
        </h1>
        <a class="button is-primary" style="position:absolute; top:1em; right:3em;" [ngClass]="{ 'is-disabled': errores_carga || cargandoPresupuesto}"
          (click)="guardar()"> <span class="icon"><i class="fa fa-save"></i></span> <span>Guardar</span></a>
        <a class="button  is-primary" routerLink="/administrador-central/pedidos-ordinarios/" style="position:absolute; top:1em; right:1em;">
          <span class="icon ">
            <i class="fa fa-close"></i>
          </span>
        </a>
      </div>
      <div style="padding:10px">
        <div class="columns is-desktop" style="font-size: 0.8em">
          <div class="column ">
            <div class="field">
              <label class="label">Descripcion:</label>
              <p class="control is-expanded  has-icon has-icon-right">
                <input class="input" autofocus type="text" [ngClass]="{'is-danger': errores.descripcion != null, 'is-disabled': guardando || cargandoPresupuesto}"
                  placeholder="Ej. Pedido ordinario del mes de mayo 2019" [(ngModel)]="pedido_ordinario.descripcion">
                <span class="icon is-small" *ngIf="false">
                  <i class="fa fa-warning"></i>
                </span>
                <span class="help is-danger" *ngIf="errores.descripcion == 'required'">Este campo es requerido.</span>
              </p>
            </div>
          </div>
        </div>
        <div class="columns is-desktop" style="font-size: 0.8em">
          <div class="column">
            <div class="field">
              <label class="label">Fecha:</label>
              <p class="control is-expanded ">
                <input class="input"  type="date" [ngClass]="{'is-danger': errores.fecha != null, 'is-disabled': guardando || cargandoPresupuesto}"
                   [(ngModel)]="pedido_ordinario.fecha">
                
                <span class="help is-danger" *ngIf="errores.fecha == 'required'">Este campo es requerido.</span>
                <span class="help is-danger" *ngIf="errores.fecha == 'date'">Este campo debe ser una fecha válida.</span>                
              </p>
            </div>
          </div>
          <div class="column">
            <div class="field">
              <label class="label">Fecha expiración:</label>
              <p class="control is-expanded ">
                <input class="input"  type="datetime-local" [ngClass]="{'is-danger': errores.fecha_expiracion != null, 'is-disabled': guardando || cargandoPresupuesto}"
                   [(ngModel)]="pedido_ordinario.fecha_expiracion" style="width:100%">
                
                <span class="help is-danger" *ngIf="errores.fecha_expiracion == 'required'">Este campo es requerido.</span>
                <span class="help is-danger" *ngIf="errores.fecha_expiracion == 'date'">Este campo debe ser una fecha válida.</span>                
              </p>
            </div>
          </div>
          <!--
          <div class="column">
            <div class="field">
              <label class="label">$ Presupuesto CAUSES:</label>
              <p class="control is-expanded  has-icon has-icon-right">
                <input class="input" autofocus type="text" [ngClass]="{'is-danger': errores.causes != null, 'is-disabled': guardando || cargandoPresupuesto}"
                  placeholder="0.00" [(ngModel)]="pedido_ordinario.causes">
                <span class="icon is-small" *ngIf="false">
                  <i class="fa fa-warning"></i>
                </span>
                <span class="help is-danger" *ngIf="errores.causes == 'required'">Este campo es requerido.</span>
                <span class="help is-danger" *ngIf="errores.causes == 'numeric'">Este campo debe ser un valor numerico.</span>
                <span class="help is-danger" *ngIf="errores.causes == 'min'">El valor mínimo es 0.</span>
                <span class="help" [ngClass]="{ 'is-danger': causes_sumado > pedido_ordinario.causes, 'is-info': causes_sumado < pedido_ordinario.causes, 'is-success': causes_sumado == pedido_ordinario.causes}">
                  <span>{{ causes_sumado > pedido_ordinario.causes ? 'Excedido' : 'Por asignar' }}: </span>
                  ${{ pedido_ordinario.causes - causes_sumado | number:'1.2-2' }}
                </span>
              </p>
            </div>
          </div>
          <div class="column">
            <div class="field">
              <label class="label">$ Presupuesto NO CAUSES:</label>
              <p class="control is-expanded  has-icon has-icon-right">
                <input class="input" autofocus type="text" [ngClass]="{'is-danger': errores.no_causes != null, 'is-disabled': guardando || cargandoPresupuesto}"
                  placeholder="0.00" [(ngModel)]="pedido_ordinario.no_causes">
                <span class="icon is-small" *ngIf="false">
                  <i class="fa fa-warning"></i>
                </span>
                <span class="help is-danger" *ngIf="errores.no_causes == 'required'">Este campo es requerido.</span>
                <span class="help is-danger" *ngIf="errores.no_causes == 'numeric'">Este campo debe ser un valor numerico.</span>
                <span class="help is-danger" *ngIf="errores.no_causes == 'min'">El valor mínimo es 0.</span>
                <span class="help" [ngClass]="{ 'is-danger': no_causes_sumado > pedido_ordinario.no_causes, 'is-info': no_causes_sumado < pedido_ordinario.no_causes, 'is-success': no_causes_sumado == pedido_ordinario.no_causes}">
                  <span>{{ no_causes_sumado > pedido_ordinario.no_causes ? 'Excedido' : 'Por asignar' }}: </span>
                  ${{ pedido_ordinario.no_causes - no_causes_sumado | number:'1.2-2' }}
                </span>
              </p>
            </div>
          </div>
          <div class="column">
            <div class="field">
              <label class="label">Factor Meses
                <a (click)="mostrarInfoFactorMeses = true"><span class="icon is-small"><i class="fa fa-info-circle"></i></span></a></label>
              <p class="control is-expanded  has-icon has-icon-right">
                <input class="input" autofocus type="text" [ngClass]="{'is-danger': errores.factor_meses != null, 'is-disabled': guardando || cargandoPresupuesto}"
                  placeholder="Valor entre 1 y 12" [(ngModel)]="pedido_ordinario.factor_meses">
                <span class="icon is-small" *ngIf="false"><i class="fa fa-warning"></i></span>
                <span class="help is-danger" *ngIf="errores.factor_meses == 'required'">Este campo es requerido.</span>
                <span class="help is-danger" *ngIf="errores.factor_meses == 'integer'">Este campo debe ser un número entero entre 1 y 12.</span>
              </p>
            </div>
          </div>-->
        </div>
        <div class="columns">
          <div class="column is-3  is-offset-6">
            <a class="button  is-primary is-outlined is-small is-fullwidth " [ngClass]="{'is-disabled': guardando || cargandoPresupuesto}" (click)="mostrarModalCarga = true;">
              <span class="icon is-small">
                <i class="fa fa-upload"></i>
              </span>
              <span>Importación masiva</span>
            </a>
          </div>
          <div class="column is-3 ">
            <a class="button  is-primary is-small is-fullwidth" [ngClass]="{'is-disabled': guardando || cargandoPresupuesto}" (click)="mostrarModalUnidadesMedicas = true;">
              <span class="icon is-small">
                <i class="fa fa-search"></i>
              </span>
              <span>Buscar unidades</span>
            </a>
          </div>
        </div>
        <table class="table is-bordered is-striped" style="font-size:0.7em; table-layout: fixed;">
          <thead>

            <tr>
              <th style="text-align: center; width: 80px;">Clues</th>
              <th style="text-align: center;">Nombre</th>
              <th style="text-align: center; width: 40px">Tipo</th>
              <th style="text-align:center">CAUSES</th>
              <th style="text-align:center">NO CAUSES</th>
              <th style="width:40px"></th>
            </tr>
          </thead>
          <tbody *ngIf="pedido_ordinario.pedidos_ordinarios_unidades_medicas">
            <tr *ngFor="let item of pedido_ordinario.pedidos_ordinarios_unidades_medicas; let i=index" [ngClass]="{ 'is-danger': item.error }">
              <td><span class="text-overflow" title="{{ item.clues }}">{{ item.clues }}</span></td>
              <td><span class="text-overflow" title="{{ item.unidad_medica.nombre }}">{{ item.unidad_medica.nombre }}</span></td>
              <td style="text-align:center">{{ item.unidad_medica.tipo }}</td>
              <td>
                <div class="field">
                  <p class="control is-expanded has-icon has-icon-left"><span class="icon is-small is-left" style="top:0.9rem;"><i
                        class="fa fa-usd"></i></span><input class="input is-small" [ngClass]="{'is-danger': item.error_validacion &&  item.error_validacion.causes_autorizado, 'is-disabled': item.error || guardando}" type="number" [(ngModel)]="item.causes_autorizado"
                      placeholder="CAUSES" (ngModelChange)="calcularTotales()"></p>
                    <span class="help" style="font-size:0.9em">Presupuesto total disponible: $ {{ item.causes_disponible | number:'1.2-2' }}</span>
                    <span class="help is-danger" *ngIf="item.error_validacion &&  item.error_validacion.causes_autorizado == 'budget'">Esta unidad médica no tiene presupuesto.</span>
                    <span class="help is-danger" *ngIf="item.error_validacion &&  item.error_validacion.causes_autorizado == 'min'">El valor mínimo es 0.</span>
                    <span class="help is-danger" *ngIf="item.error_validacion &&  item.error_validacion.causes_autorizado == 'required'">Este campo es requerido.</span>
                    <span class="help is-danger" *ngIf="item.error_validacion &&  item.error_validacion.causes_autorizado == 'exceeded'">El monto máximo es: $ {{ item.causes_disponible | number:'1.2-2' }}.</span>
                </div>
              </td>
              <td>
                <div class="field">
                  <p class="control is-expanded has-icon has-icon-left"><span class="icon is-small is-left" style="top:0.9rem;"><i
                        class="fa fa-usd"></i></span><input class="input is-small" [ngClass]="{'is-danger':item.error_validacion &&  item.error_validacion.no_causes_autorizado, 'is-disabled': item.error || guardando}" type="number" [(ngModel)]="item.no_causes_autorizado"
                      (ngModelChange)="calcularTotales()" placeholder="NO CAUSES"></p>
                  <span class="help" style="font-size:0.9em">Presupuesto total disponible: $ {{ item.no_causes_disponible | number:'1.2-2' }}</span>
                  <span class="help is-danger" *ngIf="item.error_validacion &&  item.error_validacion.no_causes_autorizado == 'budget'">Esta unidad médica no tiene presupuesto.</span>
                  <span class="help is-danger" *ngIf="item.error_validacion &&  item.error_validacion.no_causes_autorizado == 'min'">El valor mínimo es 0.</span>
                  <span class="help is-danger" *ngIf="item.error_validacion &&  item.error_validacion.no_causes_autorizado == 'required'">Este campo es requerido.</span>
                  <span class="help is-danger" *ngIf="item.error_validacion &&  item.error_validacion.no_causes_autorizado == 'exceeded'">El monto máximo es: $ {{ item.no_causes_disponible | number:'1.2-2' }}.</span>
                </div>
              </td>
              <td><a class="button is-small" (click)="eliminarUnidadMedica(item, i)" [ngClass]="{'is-disabled': guardando}"><span class="icon is-small"><i
                      class="fa fa-trash-o"></i></span></a></td>
            </tr>
          </tbody>
        </table>

      </div>

    </section>
  </div>
</div>

<div class="notification is-danger" style="position:fixed; left:1em;  bottom:1em;" *ngIf="mensajeError.mostrar">
  <button class="delete" (click)="mensajeError.mostrar = false"></button>
  <b>Error:</b> {{ mensajeError.texto }}
  <br>
  <br>
  <p style="text-align:center">
    <a class="button is-danger is-inverted" (click)="ultimaPeticion(); mensajeError.mostrar = false">
      <span class="icon">
        <i class="fa fa-refresh"></i>
      </span>
      <span>Volver a intentar</span>
    </a>
  </p>
</div>

<div class="notification is-success" style="position:fixed; left:1em;  bottom:1em; width: auto" *ngIf="mensajeExito.mostrar">
  <button class="delete" (click)="mensajeExito.mostrar = false"></button>
  <p>
    <span class="icon" style="margin-right: 0.5em;">
      <i class="fa fa-check-circle"></i>
    </span>
    <span>{{ mensajeExito.texto }}</span>
  </p>
  <br>
  <p style="text-align: center;">
    <small>Este mensaje desaparecerá en {{ mensajeExito.cuentaAtras }} segundos.</small>
  </p>
</div>

<div class="modal is-active" *ngIf="mostrarInfoFactorMeses">
  <div class="modal-background" (click)="mostrarInfoFactorMeses = false"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Factor meses</p>
      <button class="delete" (click)="mostrarInfoFactorMeses = false"></button>
    </header>
    <section class="modal-card-body">
      Este valor es para saber entre cuantos meses se va a gastar el presupuesto. Debe ser entre 1 y 12. <br>
      <span *ngIf="pedido_ordinario.factor_meses >=1 && pedido_ordinario.factor_meses <=12">
        El valor elegido es: <strong>{{ pedido_ordinario.factor_meses}}</strong> por lo cual se prevé el presupuesto se
        empezará a gastar a partir del mes de <strong>{{ factorMes() }}</strong>
      </span>
    </section>
    <footer class="modal-card-foot">
      <a class="button" (click)="mostrarInfoFactorMeses = false">Cerrar</a>
    </footer>
  </div>
</div>

<administrador-central-buscar-unidades-medicas *ngIf="mostrarModalUnidadesMedicas" [ignorarClues]="cluesAgregadas"
  (onCerrar)="mostrarModalUnidadesMedicas = false" (onEnviar)="agregarUnidadMedica($event); mostrarModalUnidadesMedicas = false;">
</administrador-central-buscar-unidades-medicas>

<div class="modal is-active" *ngIf="mostrarModalCarga">
  <div class="modal-background" (click)="cerrarModalCarga()"></div>
  <div class="modal-card modal-carga">
    <header class="modal-card-head">
      <p class="modal-card-title">
        <span class="icon">
          <i class="fa fa-upload"></i>
        </span> Importación masiva de datos</p>
      <button class="delete" (click)="cerrarModalCarga()"></button>
    </header>
    <section class="modal-card-body" style="position: relative; padding:1em;">
      <!-- <div class="notification is-danger" *ngIf="mensajeErrorSync!=''"><span class="icon"><i class="fa fa-exclamation-circle"></i></span> {{ mensajeErrorSync }}</div>-->

      <div class="field" [ngClass]="{ 'is-hidden' : enviandoDatos }" *ngIf="!archivoSubido" style="margin:1em;">
        <label for="sql" class="label" [ngClass]="{ 'is-danger': errores.archivo != null }">Elige el archivo .xls</label>
        <input type="file" class="input-file" #archivoInput style="width:100%" name="archivo" is="xls" (change)="fileChange($event)"
          accept=".xls,.xlsx">
      </div>
      <div *ngIf="enviandoDatos" style="margin:1em;">
        <h1 class="subtitle" *ngIf="enviandoDatos">Subiendo archivo...</h1>
        <progress class="progress is-primary" value="{{ progreso }}" max="100">{{ progreso}}%</progress>
      </div>
    </section>
    <footer class="modal-card-foot">
      <a class="button is-hidden-desktop" [ngClass]="{ 'is-disabled' : enviandoDatos  }" *ngIf="!archivoSubido" (click)="descargarFormato()">
        <span class="icon">
          <i class="fa fa-file-excel-o"></i>
        </span>
      </a>
      <a class="button is-primary is-hidden-desktop" [ngClass]="{ 'is-disabled' : enviandoDatos || !archivo  }" *ngIf="!archivoSubido"
        (click)="subir()">
        <span class="icon">
          <i class="fa fa-upload"></i>
        </span>
      </a>
      <a class="button is-hidden-touch" [ngClass]="{ 'is-disabled' : enviandoDatos  }" *ngIf="!archivoSubido" (click)="descargarFormato()">
        <span class="icon">
          <i class="fa fa-file-excel-o"></i>
        </span>
        <span>Descargar formato de llenado</span>
      </a>
      <a class="button is-hidden-touch is-primary" [ngClass]="{ 'is-disabled' : enviandoDatos || !archivo  }" *ngIf="!archivoSubido"
        (click)="subir()">
        <span class="icon">
          <i class="fa fa-upload"></i>
        </span>
        <span>Subir</span>
      </a>
      <a class="button" [ngClass]="{ 'is-disabled' : enviandoDatos  }" (click)="cerrarModalCarga()">Cancelar</a>
    </footer>
  </div>
</div>