<administrador-central-menu></administrador-central-menu>
<div style="height:50px;"></div>
<div class="contenedor columns " style="height:100%; ">
  <div class="column is-narrow is-hidden-mobile">
    <administrador-central-menu-lateral></administrador-central-menu-lateral>
  </div>
  <div class="column" style="overflow: scroll;">
    <div class="tabs is-boxed" style="margin-bottom: 0;">
      <ul>
        <li [ngClass]="{'is-active': tabPresupuesto }"><a (click)="tabPresupuesto=true;tabHistorico=false;">Presupuesto</a></li>
        <li [ngClass]="{'is-active': tabHistorico }"><a (click)="tabPresupuesto=false;tabHistorico=true;">Histórico</a></li>
      </ul>
    </div>
    <section style="background:white; border-radius: 0 0 0.5em 0.5em; border-left: 1px solid #dbdbdb; border-right: 1px solid #dbdbdb; ">
      <!-- Presupuesto -->
      <div *ngIf="tabPresupuesto">
        <div class="columns" style="padding-left: 0.5em; padding-right:0.5em; margin-top:0;">
          <div class="column is-2">
            <p class="control is-expanded">
              <span class="select is-fullwidth" style="min-width:100px !important">
                <select #ejercicioSelect (change)="cambioSeleccionEjercicio(ejercicioSelect.value)">
                  <option value="" *ngIf="cargandoEjercicios">Cargando...</option>
                  <option value="" *ngIf="!cargandoEjercicios && ejercicios.length == 0">No hay ejercicios</option>
                  <option *ngFor="let item of ejercicios" value="{{item.id}}">{{item.ejercicio}}</option>
                </select>
              </span>
            </p>
          </div>
          <div class="column">
            <div class="block">
              <a class="button is-primary is-outlined" *ngIf="ejercicioSeleccionado" routerLink="/administrador-central/presupuesto/ajustes/{{ ejercicioSeleccionado.id}}" [ngClass]="{ 'is-disabled': cargandoPresupuestoUnidadesMedicas || !ejercicioSeleccionado } "><span class="icon is-small"><i class="fa fa-cog "></i></span><span>Ajustes</span></a>
              <a class="button is-primary is-outlined" [ngClass]="{ 'is-disabled': cargandoPresupuestoUnidadesMedicas || !ejercicioSeleccionado } " (click)="exportarPresupuestoExcel()"><span class="icon is-small"><i class="fa fa-file-excel-o "></i></span><span>Exportar a excel</span></a>
              <a class="button is-primary" routerLink="/administrador-central/presupuesto/nuevo"> <span class="icon is-small"><i class="fa fa-plus "></i></span><span>Nuevo periodo</span></a>              
            </div>
          </div>
        </div>
        <table  class="table is-bordered is-striped" style="font-size:0.7em; table-layout: fixed;">
          <thead>
            <tr>
              <th colspan="6" style="text-align:center; font-size: 1.2em;">CAUSES / Material curación</th>       
              <th colspan="6" style="text-align:center; font-size: 1.2em;">NO CAUSES</th>             
            </tr>
            <tr>
              <th colspan="3" style="text-align:center; font-size: 1.2em;">Autorizado/Modificado</th>       
              <th colspan="3" style="text-align:center; font-size: 1.2em;">Disponible</th>             
              <th colspan="3" style="text-align:center; font-size: 1.2em;">Autorizado/Modificado</th>       
              <th colspan="3" style="text-align:center; font-size: 1.2em;">Disponible</th>
            </tr>
            <tr>
              <td colspan="3" class="clickable-cell" style="text-align:center; font-size: 1.2em;">${{ (ejercicioSeleccionado ? ejercicioSeleccionado.causes : 0) | number:'1.2-2' }}</td>
              <th colspan="3" style="text-align:center; font-size: 1.2em;">${{ presupuestoUnidadesMedicasTotales.causes_disponible | number:'1.2-2' }}</th>
              <td colspan="3" class="clickable-cell" style="text-align:center;  font-size: 1.2em;">${{ (ejercicioSeleccionado ? ejercicioSeleccionado.no_causes : 0) | number:'1.2-2' }}</td>
              <th colspan="3" style="text-align:center; font-size: 1.2em;">${{ presupuestoUnidadesMedicasTotales.no_causes_disponible | number:'1.2-2' }}</th>
            </tr>

            <tr>
              <th rowspan="2" style="vertical-align:middle; text-align: center;">Clues</th>
              <th rowspan="2" style="vertical-align:middle; text-align: center;">Nombre</th>
              <th colspan="2" style="text-align:center">Autorizado</th>
              <th colspan="2" style="text-align:center">Modificado</th>
              <th colspan="2" style="text-align:center">Comprometido</th>
              <th colspan="2" style="text-align:center">Devengado</th>
              <th colspan="2" style="text-align:center">Disponible</th>
            </tr>
            <tr>
              <th style="text-align:center">CAUSES/MAT CUR</th>
              <th style="text-align:center">NO CAUSES</th>
              <th style="text-align:center">CAUSES/MAT CUR</th>
              <th style="text-align:center">NO CAUSES</th>
              <th style="text-align:center">CAUSES/MAT CUR</th>
              <th style="text-align:center">NO CAUSES</th>
              <th style="text-align:center">CAUSES/MAT CUR</th>
              <th style="text-align:center">NO CAUSES</th>
              <th style="text-align:center">CAUSES/MAT CUR</th>
              <th style="text-align:center">NO CAUSES</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th colspan="2" rowspan="2" style="vertical-align:middle; text-align: center;">TOTAL</th>
              <th style="text-align:right">${{ presupuestoUnidadesMedicasTotales.causes_autorizado | number:'1.2-2' }}</th>
              <th style="text-align:right">${{ presupuestoUnidadesMedicasTotales.no_causes_autorizado | number:'1.2-2' }}</th>
              <th style="text-align:right">${{ presupuestoUnidadesMedicasTotales.causes_modificado | number:'1.2-2' }}</th>
              <th style="text-align:right">${{ presupuestoUnidadesMedicasTotales.no_causes_modificado | number:'1.2-2' }}</th>
              <th style="text-align:right">${{ presupuestoUnidadesMedicasTotales.causes_comprometido | number:'1.2-2' }}</th>
              <th style="text-align:right">${{ presupuestoUnidadesMedicasTotales.no_causes_comprometido | number:'1.2-2' }}</th>
              <th style="text-align:right">${{ presupuestoUnidadesMedicasTotales.causes_devengado | number:'1.2-2' }}</th>
              <th style="text-align:right">${{ presupuestoUnidadesMedicasTotales.no_causes_devengado | number:'1.2-2' }}</th>
              <th style="text-align:right">${{ presupuestoUnidadesMedicasTotales.causes_disponible | number:'1.2-2' }}</th>
              <th style="text-align:right">${{ presupuestoUnidadesMedicasTotales.no_causes_disponible | number:'1.2-2' }}</th>
            </tr>
            <tr>
              <th colspan="2" style="text-align:center">${{ (presupuestoUnidadesMedicasTotales.causes_autorizado + presupuestoUnidadesMedicasTotales.no_causes_autorizado) | number:'1.2-2' }}</th>
              <th colspan="2" style="text-align:center">${{ (presupuestoUnidadesMedicasTotales.causes_modificado + presupuestoUnidadesMedicasTotales.no_causes_modificado) | number:'1.2-2' }}</th>
              <th colspan="2" style="text-align:center">${{ (presupuestoUnidadesMedicasTotales.causes_comprometido + presupuestoUnidadesMedicasTotales.no_causes_comprometido) | number:'1.2-2' }}</th>
              <th colspan="2" style="text-align:center">${{ (presupuestoUnidadesMedicasTotales.causes_devengado + presupuestoUnidadesMedicasTotales.no_causes_devengado) | number:'1.2-2' }}</th>
              <th colspan="2" style="text-align:center">${{ (presupuestoUnidadesMedicasTotales.causes_disponible + presupuestoUnidadesMedicasTotales.no_causes_disponible) | number:'1.2-2' }}</th>
            </tr>
          </tfoot>
          
          <tbody>
            <tr *ngIf="cargandoPresupuestoUnidadesMedicas"><td colspan="10"><span class="icon is-small"><i class="fa fa-refresh fa-spin"></i></span>  Cargando ...</td></tr>
            <tr *ngIf="presupuestoUnidadesMedicas.length == 0 && !cargandoPresupuestoUnidadesMedicas"><td colspan="10">No hay unidades médicas con presupuesto.</td></tr>
            <tr *ngFor="let item of presupuestoUnidadesMedicas">
              <td><span class="text-overflow" title="{{ item.clues }}">{{ item.clues }}</span></td>
              <td><span class="text-overflow" title="{{ item.unidad_medica.nombre }}">{{ item.unidad_medica.nombre }}</span></td>
              <!-- AUTORIZADO-->
              <td style="text-align:right">${{ item.causes_autorizado | number:'1.2-2' }}</td>
              <td style="text-align:right">${{ item.no_causes_autorizado | number:'1.2-2' }}</td>
              <!-- MODIFICADO -->
              <td class="clickable-cell" (click)="abrirModalModificado(true)">${{ item.causes_modificado | number:'1.2-2' }}</td>
              <td class="clickable-cell" (click)="abrirModalModificado(false)">${{ item.no_causes_modificado | number:'1.2-2' }}</td>
              <!-- COMPROMETIDO -->
              <td class="clickable-cell" (click)="abrirModalComprometido(true)">${{ item.causes_comprometido | number:'1.2-2' }}</td>
              <td class="clickable-cell" (click)="abrirModalComprometido(false)">${{ item.no_causes_comprometido | number:'1.2-2' }}</td>
              <!-- DEVENGADO -->
              <td class="clickable-cell" (click)="abrirModalDevengado(true)">${{ item.causes_devengado | number:'1.2-2' }}</td>
              <td class="clickable-cell" (click)="abrirModalDevengado(false)">${{ item.no_causes_devengado | number:'1.2-2' }}</td>
              <!-- DISPONIBLE -->
              <th style="text-align:right">${{ item.causes_disponible | number:'1.2-2' }}</th>
              <th style="text-align:right">${{ item.no_causes_disponible | number:'1.2-2' }}</th>
            </tr>            
          </tbody>
        </table>
      </div>
      <div *ngIf="tabHistorico">
        chuchi
      </div>

    </section>
  </div>
</div>

<div class="modal is-active" *ngIf="mostrarModalModificado">
  <div class="modal-background" (click)="mostrarModalModificado = false"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Presupuesto modificado <strong *ngIf="modalCauses">CAUSES</strong> <strong *ngIf="! modalCauses">NO
          CAUSES</strong></p>
      <button class="delete" (click)="mostrarModalModificado = false"></button>
    </header>
    <section class="modal-card-body">
      <table class="table is-bordered is-striped" style="font-size:0.8em">
        <thead>
          <tr>
            <td colspan="5"><strong>CSSSA0000001</strong> - Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum,
              reprehenderit nemo. Incidunt, ullam beatae nesciunt eum repellat corrupti ab. Tenetur ipsa dicta laborum consequatur
              libero id. Explicabo doloribus autem ad.</td>
          </tr>
          <tr>
            <th style="text-align: center;">Fecha</th>
            <th style="text-align: center;">Tipo</th>
            <th style="text-align: center;">Cargo</th>
            <th style="text-align: center;">Abono</th>
            <th style="text-align: center;">Saldo</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th colspan="4" style="vertical-align:middle; text-align: center;">SALDO ACTUAL</th>
            <th style="text-align:right">${{ 0 | number:'1.2-2' }}</th>
          </tr>
        </tfoot>
        <tbody>
          <tr>
            <td style="text-align: center;">01/01/2018</td>
            <td style="text-align: center;">Ajuste</td>
            <td style="text-align:right">${{ 0 | number:'1.2-2' }}</td>
            <td style="text-align:right">${{ 0 | number:'1.2-2' }}</td>
            <td style="text-align:right">${{ 0 | number:'1.2-2' }}</td>
          </tr>
          <tr>
            <td style="text-align: center;">01/01/2018</td>
            <td style="text-align: center;">Transferencia</td>
            <td style="text-align:right">${{ 0 | number:'1.2-2' }}</td>
            <td style="text-align:right">${{ 0 | number:'1.2-2' }}</td>
            <td style="text-align:right">${{ 0 | number:'1.2-2' }}</td>
          </tr>
        </tbody>
      </table>
    </section>
    <footer class="modal-card-foot">
      <a class="button" (click)="mostrarModalModificado = false">Cerrar</a>
    </footer>
  </div>
</div>


<div class="modal is-active" *ngIf="mostrarModalPedidos">
  <div class="modal-background" (click)="mostrarModalPedidos = false"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">{{ tituloModalPedidos }} <strong *ngIf="modalCauses">CAUSES</strong> <strong *ngIf="! modalCauses">NO
          CAUSES</strong></p>
      <button class="delete" (click)="mostrarModalPedidos = false"></button>
    </header>
    <section class="modal-card-body">
      <table class="table is-bordered is-striped" style="font-size:0.8em">
        <thead>
          <tr>
            <td colspan="5"><strong>CSSSA0000001</strong> - Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum,
              reprehenderit nemo. Incidunt, ullam beatae nesciunt eum repellat corrupti ab. Tenetur ipsa dicta laborum consequatur
              libero id. Explicabo doloribus autem ad.</td>
          </tr>
          <tr>
            <th style="text-align: center;">Pedido</th>
            <th style="text-align: center;">Status</th>
            <th style="text-align: center;">Fecha</th>            
            <th style="text-align: center;">Monto solicitado</th>
            <th style="text-align: center;">Monto recibido</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th colspan="4" style="vertical-align:middle; text-align: center;">SALDO ACTUAL</th>
            <th style="text-align:right">${{ 0 | number:'1.2-2' }}</th>
          </tr>
        </tfoot>
        <tbody>
          <tr>
            <td style="text-align: center;">CSSSA017731-2017-PA-001</td>
            <td style="text-align: center;">EX</td>
            <td style="text-align: center;">01/01/2018</td>
            <td style="text-align:right">${{ 0 | number:'1.2-2' }}</td>
            <td style="text-align:right">${{ 0 | number:'1.2-2' }}</td>
          </tr>
        </tbody>
      </table>
    </section>
    <footer class="modal-card-foot">
      <a class="button" (click)="mostrarModalPedidos = false">Cerrar</a>
    </footer>
  </div>
</div>